.content{
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 420px);
    box-sizing: border-box;
    left: 90px;
    top: 100px;
    background-color:  rgb(240, 238, 238);
    padding: 10px 20px;
    border-radius: 10px;
}
